* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}


header {
    background-color: #3b4997;
    width: 100%;
    height: 70px;
    align-items: center;
    color: white;
    position: fixed;
}


.navigasi {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}


.menu {
    margin-left: 700px;
    padding-top: 10px;
}


.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}


.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: lightskyblue;
    font-style: italic;
}


.banner {
    background-color: #3b5999;
    height: 700px;
    text-align: center;
    color: white;
}

.banner img {
    border-radius: 100px;
    height: 200px;
    border: 6px solid white;
    margin-top: 100px;
}


.banner h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}



.banner button {
    margin-top: 100px;
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    border: none;
}

.banner button:hover {
    background-color: #3b5999;
    border:1px solid white;
    color: white;
}

h1 span:before {
    content: '';
    animation: gerak infinite 8s;
    transform: translateY(-50%);
    color: lightblue;
    font-size: 70px;
}

@keyframes gerak {
    0% {
        content:'Selamat Datang'
    }
    50% {
        content:'Saya Syifa'
    }
    100% {
        content:'Terimakasih Sudah Singgah'
        
    }
}



.pendidikan {
    text-align: center;
    color: #4d4d4d;
    margin-top: 70px;
    align-content: center;
}


.box {
    display: flex;
    justify-content: space-between;
}


.box-kiri, .box-tengah, .box-kanan {
    width: 300px;
    height: 320px;
    background-color: #ddd6d6;
    text-align: center;
    padding: 30px 30px;
    margin: 70px 20px 20px 55px;
    border-radius: 10px;
}


.box-kiri:hover, .box-tengah:hover, .box-kanan:hover {
    background-color: #3b5999;
    color: white;
}

.pendidikan h3 p {
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}


.softskill {
    text-align: center;
    color: #4d4d4d;
    margin:0px auto;
    padding-top: 100px;
}

.kontak img  {
    width: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}


.kontak {
    text-align: center;
    color:#4d4d4d;
    margin-top: 100px;
}


.nama {
    background-color: grey;
    width: 97%;
    height: 20px;
    color: white;
    padding: 20px;
    margin: 50px auto 0px;
    text-align: center;
}







